:root {
  --light-white: rgba(248, 248, 248, 1.0);
  --medium-white: rgba(232, 232, 232, 1.0);
  --dark-white: rgba(192, 192, 192, 1.0);

  --lightest-gray: rgba(160, 160, 160, 1.0);
  --lighter-gray: rgba(96, 96, 96, 1.0);
  --light-gray: rgba(48, 48, 48, 1.0);
  --medium-gray: rgba(32, 32, 32, 1.0);
  --dark-gray: rgba(18, 18, 18, 1.0);
  --black: rgba(0, 0, 0, 1.0);

  --light-blue: rgba(0, 174, 239, 1.0);
  --light-blue-transparent:  rgba(0, 174, 239, 0.667);
}

* {
  user-select: none;
}

html {
  cursor: default;
  height: 100%;
  width: 100%;
}

body {
  background: var(--dark-gray);
  color: var(--dark-gray);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#header {
  padding: 10px 10px 0px 10px;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1;
}

#headerBox {
  background: var(--light-gray);
  border: 3px solid var(--lighter-gray);
  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--black);
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

#navbar {
  padding: 0;
}

#navbarContainer {
  padding: 0;
}

#navbarBrand {
  margin: 0;
  padding: 0;
}

#myName {
  background: var(--medium-gray);
  border-right: 1px solid var(--dark-gray);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  color: var(--light-blue);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.0;
  margin: 0;
  padding: 15px;
}

#navbarTogglerButton {
  background: var(--light-gray);
  outline: none;
}

#navbarTogglerButton:hover {
  background: var(--medium-gray);
}

#navbarResponsive {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.navbar-nav {
  margin-left: auto;
}

#navLinkAbout, #navLinkPortfolio {
  font-weight: 700;
  margin-right: 20px;
  text-decoration: none;
}

#navLinkAbout:not(.navLinkActive), #navLinkPortfolio:not(.navLinkActive) {
  color: var(--light-blue-transparent);
}

#navLinkAbout:hover, #navLinkPortfolio:hover, .navLinkActive {
  color: var(--light-blue);
}

#main {
  margin: 150px auto 120px auto;
  max-width: 920px;
  padding-bottom: 80px;
  width: 90%;
}

#aboutContainer, #portfolioContainer {
  background: var(--lightest-gray);
  border: 3px solid var(--light-gray);
  border-radius: 10px;
  overflow: auto;
  padding: 30px;
}

#portfolioContainer {
  padding: 30px 10px 10px 30px;
}

#aboutMeLabel, .aboutTextLabels, #portfolioLabel {
  background: var(--light-gray);
  border: 1px solid var(--dark-gray);
  border-radius: 5px;
  color: var(--light-blue);
  font-size: 18px;
  margin-bottom: 20px;
  padding: 5px;
  text-align: center;
}

#portfolioLabel {
  margin-right: 20px;
}

#aboutMeImgContainer {
  float: left;
  margin-right: 20px;
  max-width: 400px;
  position: relative;
  width: 50%;
}

#aboutMeImgPlaceholder {
  border-radius: 5px;
  visibility: hidden;
  width: 100%;
}

#aboutMeImg {
  border-radius: 5px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#aboutText {
  font-size: 13pt;
  margin-top: -5px;
}

a.link {
  background: var(--light-gray);
  border: 1px solid var(--dark-gray);
  border-radius: 5px;
  color: var(--light-blue-transparent);
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  padding: 6px 10px 6px 10px;
  text-decoration: none;
}

a.link:hover {
  border: 1px solid var(--light-blue);
  color: var(--light-blue);
}

#projectsContainer {
  display: flex;
  flex-wrap: wrap;
}

.projectContainer {
  background: var(--lighter-gray);
  border: 3px solid var(--light-gray);
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--dark-gray);
  display: flex;
  flex-direction: column;
  height: 318px;
  margin: 0px 20px 20px 0px;
  width: 271px;
}

.projectTitle {
  color: var(--light-blue);
  font-size: 14pt;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 13px;
  text-align: center;
  text-shadow: 3px 0 var(--dark-gray);
}

a.projectImgLink {
  margin: auto 0;
}

.projectImg {
  border-top: 3px solid var(--light-gray);
  border-bottom: 3px solid var(--light-gray);
  display: block;
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.projectLinks {
  left: 5px;
  margin-bottom: 12px;
  margin-top: -10px;
  position: relative;
  text-align: center;
}

@media only screen and (min-width: 576px) {
  body {
    background-image: url(../images/background.jpg);
    background-attachment: fixed;
    background-size: cover;
  }
}

@media only screen and (max-width: 575.9px) {

  body {
    background-image: none;
  }

  #myName {
    font-size: 22px;
  }
  
  #navbarTogglerButton {
    margin-right: 10px;
  }

  #navbarResponsive {
    background: var(--lightest-gray);
  }

  .navbar-nav {
    flex-direction: row;
    margin: 0 auto;
    width: 196px;
  }

  .nav-item {
    margin: 10px 5px 10px 5px;
    width: 88px;
  }

  #navLinkAbout, #navLinkPortfolio {
    background: var(--light-gray);
    border: 3px solid var(--medium-gray);
    border-radius: 5px;
    display: inline-block;
    font-size: 11pt;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  
  #main {
    width: 100%;
  }

  #aboutContainer, #portfolioContainer {
    border-left: 0;
    border-right: 0;
    border-top: 3px solid var(--light-gray);
    border-bottom: 3px solid var(--light-gray);;
    border-radius: 0;
    margin-top: 0;
    padding: 30px 15px 20px 15px;
  }

  #aboutMeImgContainer {
    margin-bottom: 20px;
    max-width: 575px;
    width: 100%;
  }

  #portfolioLabel {
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .projectContainer {
    height: calc(100vw);
    margin: 0px 0px 40px 0px;
    width: 100%;
  }

  .projectTitle {
    font-size: 5vw;
    margin-top: 4%;
  }

  .projectImg {
    height: calc(100vw / 1.5);
  }

  .projectLinks {
    margin-bottom: 5%;
  }
}