:root {
  --light-white: rgba(248, 248, 248, 1.0);
  --medium-white: rgba(232, 232, 232, 1.0);
  --dark-white: rgba(192, 192, 192, 1.0);

  --lightest-gray: rgba(136, 136, 136, 1.0);
  --lighter-gray: rgba(96, 96, 96, 1.0);
  --light-gray: rgba(48, 48, 48, 1.0);
  --medium-gray: rgba(32, 32, 32, 1.0);
  --dark-gray: rgba(18, 18, 18, 1.0);
  --black: rgba(0, 0, 0,1.0);

  --light-blue: rgba(0, 174, 239, 1.0);
  --light-blue-transparent:  rgba(0, 174, 239, 0.75);
}

html {
  cursor: default;
  height: 100%;
  width: 100%;
}

body {
  background: var(--dark-gray);
  color: var(--dark-gray);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  font-weight: 400;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

#header {
  padding: 10px 10px 0px 10px;
  position: fixed;
  top: 0%;
  width: 100%;
  z-index: 1;
}

#headerBox {
  background: var(--light-gray);
  border: 3px solid var(--lighter-gray);
  border-radius: 10px;
  box-shadow: 0px 0px 20px var(--black);
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

#navbar {
  padding: 0;
}

#navbarContainer {
  padding: 0;
}

#navbarBrand {
  margin: 0;
  padding: 0;
}

#myName {
  background: var(--medium-gray);
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  color: var(--light-blue);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.0;
  margin: 0;
  padding: 15px;
}

#navbarTogglerButton {
  background: var(--light-gray);
  outline: none;
}

#navbarTogglerButton:hover {
  background: var(--medium-gray);
}

#navbarResponsive {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.navbar-nav {
  margin-left: auto;
}

#navLinkAbout, #navLinkPortfolio, #navLinkContact {
  font-weight: 700;
  margin-right: 20px;
  text-decoration: none;
}

#navLinkAbout:not(.navLinkActive), #navLinkPortfolio:not(.navLinkActive), #navLinkContact:not(.navLinkActive) {
  color: var(--light-blue-transparent);
}

#navLinkAbout:hover, #navLinkPortfolio:hover, #navLinkContact:hover, .navLinkActive {
  color: var(--light-blue);
}

#main {
  margin: 150px auto 120px auto;
  max-width: 920px;
  width: 90%;
}

#containerMain {
  background: var(--lightest-gray);
  border: 3px solid var(--light-gray);
  border-radius: 10px;
  overflow: auto;
  padding: 30px 30px 60px 30px;
}

#aboutMe {
  background: var(--light-gray);
  border-radius: 5px;
  color: var(--light-blue);
  font-size: 18px;
  padding: 5px;
  text-align: center;
}

#aboutMeIMG {
  border-radius: 5px;
  float: left;
  margin: 20px 20px 0px 0px;
  width: 50%;
  max-width: 400px;
}

#aboutText {
  margin-top: 16px;
}

#links {
  background: var(--light-gray);
  border-radius: 5px;;
  color: var(--light-blue-transparent);
  padding: 7px;
  text-decoration: none;
}

#links:hover {
  color: var(--light-blue);
}

footer {
  background: var(--light-gray);
  border-top: 3px solid var(--light-blue);
  bottom: 0;
  height: 40px;
  position: fixed;
  width: 100%;
}

@media only screen and (max-width: 575px) {

  #myName {
    font-size: 22px;
  }
  
  #navbarTogglerButton {
    margin-right: 10px;
  }

  #navbarResponsive {
    background: var(--lightest-gray);
  }

  .navbar-nav {
    flex-direction: row;
    margin: 0 auto;
    width: 294px;
  }

  .nav-item {
    margin: 10px 5px 10px 5px;
    width: 88px;
  }

  #navLinkAbout, #navLinkPortfolio, #navLinkContact {
    background: var(--light-gray);
    border: 3px solid var(--medium-gray);
    border-radius: 5px;
    display: inline-block;
    font-size: 11pt;
    padding: 10px;
    text-align: center;
    width: 100%;
  }
  
  #main {
    width: 100%;
  }

  #containerMain {
    border: 0;
    border-radius: 0;
    margin-top: 0;
    padding: 30px 15px 120px 15px;
  }

  #aboutMeIMG {
    max-width: 575px;
    width: 100%;
  }
}



























/* hr {
  background: rgba(32,32,32,1.0);
  margin-bottom: 30px;
  height: 3px;
  border-radius: 10px;
}

.portfolioIMG {
  max-width: 300px;
  position: relative;
}

.imgOverlay {
  background: #4aaaa5;
  bottom: 15px;
  color: #ffffff;
  padding: 10px;
  position: absolute;
  text-align: center;
  width: 100%;
}

input {
  height: 30px;
  padding-left: 10px;
  width: 100%;
}

#messageTextArea {
  height: 200px;
}

.input-group-text {
  background: #4aaaa5;
  color: #ffffff;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 12pt;
  width: 75px;
}

.btn {
  background: #4aaaa5;
  border: none;
  width: 75px;
}



.placeholderBio {
  color: #CCCCCC;
}



.form-control::-webkit-input-placeholder { color: #CCCCCC;   }  
.form-control:-moz-placeholder { color: #CCCCCC; }  
.form-control::-moz-placeholder { color: #CCCCCC; } 
.form-control:-ms-input-placeholder { color: #CCCCCC; } 
.form-control::-ms-input-placeholder { color: #CCCCCC; } 

  */
